---
layout: default
body-id: home-page
---

<div class="home" id="homepage">

  <h1 class="page-heading">Ongoing Stuff</h1>

  <ul class="post-list">
    {% for post in site.categories.projects-current %}
      <li class="post-item">
        <a href="{{ post.link }}" class="action-img" alt="{{ post.thumb-alt }}"><img src="{{ post.thumb }}" class="post-thumb"></a>
        <h2><a href="{{ post.link }}" class="action-img">{{ post.title }}</a></h2>
        {{ post.excerpt }}
        <a href="{{ post.link }}" class="post-link">&raquo; <span class="link-hover">{{ post.linktext }}</span></a>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Past Stuff</h1>

  <ul class="post-list">
    {% for post in site.categories.projects-past %}
      <li class="post-item">
        <a href="{{ post.link }}" class="action-img" alt="{{ post.thumb-alt }}"><img src="{{ post.thumb }}" class="post-thumb"></a>
        <h2><a href="{{ post.link }}" class="action-img">{{ post.title }}</a></h2>
        {{ post.excerpt }}
        <a href="{{ post.link }}" class="post-link">&raquo; <span class="link-hover">{{ post.linktext }}</span></a>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Volunteer Stuff</h1>

  <ul class="post-list">
    <li class="post-item">
      <a href="https://www.girldevelopit.com/chapters/chicago" class="action-img" alt="Girl Develop It logo"><img src="images/gdi-logo.png" class="post-thumb"></a>
      <h2><a href="https://www.girldevelopit.com/chapters/chicago" class="action-img">Girl Develop It</a></h2>
      Sometimes I TA for Girl Develop It workshops.<br/>
      <a href="https://www.girldevelopit.com/chapters/chicago" class="post-link">&raquo; <span class="link-hover">girldevelopit.com</span></a>
    </li>

    <li class="post-item">
      <a href="http://bitbashchicago.com/" class="action-img" alt="Bit Bash logo"><img src="images/bitbash-logo.png" class="post-thumb"></a>
      <h2><a href="http://bitbashchicago.com/" class="action-img">Bit Bash</a></h2>
      I've been a volunteer and a volunteer captain for Bit Bash.<br/>
      <a href="http://bitbashchicago.com/" class="post-link">&raquo; <span class="link-hover">bitbashchicago.com</span></a>
    </li>

    <li class="post-item">
      <a href="https://learnthesecrethandshake.com/conference/2014chi/" class="action-img" alt="Hike Conference logo"><img src="images/hike-logo.png" class="post-thumb"></a>
      <h2><a href="ttps://learnthesecrethandshake.com/conference/2014chi/" class="action-img">Hike Con</a></h2>
      I helped run Hike (now Secret Handshake) 2014 in San Francisco and Chicago.<br/>
      <a href="https://learnthesecrethandshake.com/conference/2014chi/" class="post-link">&raquo; <span class="link-hover">learnthesecrethandshake.com</span></a>
    </li>
  </ul>

</div>
