<footer>
  <div class="footer-content">
    <div class="social-icons">
      <a href="https://twitter.com/savannahmillion" class="action-img"><i class="icon-twitter-with-circle"></i></a>
      <a href="https://github.com/savannahmillion" class="action-img"><i class="icon-github-with-circle"></i></a>
      <a href="http://codepen.io/savannahmillion/" class="action-img"><i class="icon-codepen-with-circle"></i></a>
      <a href="https://dribbble.com/savannahmillion" class="action-img"><i class="icon-dribbble-with-circle"></i></a>
      <a href="https://www.linkedin.com/in/savannahmillion" class="action-img"><i class="icon-linkedin-with-circle"></i></a>
    </div>
    <p>&copy; {{ site.author }} 2017</p>
    <p><a href="mailto:savannahmillion@gmail.com">savannahmillion@gmail.com</a></p>
  </div>
</footer>
